{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>귀염뽀작한 윤아의 블로그</title>
    <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>
    <!-- 맨 위 상단바 -->
    <nav>
        <ul>
            <li><a id="nav-item" href="">요소1</a></li>
            <li><a id="nav-item" href="">요소2</a></li>
            <li><a id="nav-item" href="">요소3</a></li>
        </ul>
    </nav>
    <main>
        <!-- 왼쪽 자기 소개 : 계속 떠있는 부분 -->
        <div>
            <!-- 상단 -->
            <div>
                <!-- 블로그 제목 -->
                <div>
                    <h1></h1>
                </div>
                <!-- 블로그 설명 -->
                <div>
                    <span>
                    </span>
                </div>
                <!-- 블로그 해시태그 -->
                <div>
                </div>
            </div>
            <!-- 하단 -->
            <div>
                <table>
                    <tr>
                        <td>작성자</td>
                        <td>뽀짝한 윤아</td>
                    </tr>
                    <tr>
                        <td>연락처</td>
                        <td>mkiyg@naver.com</td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- 오른쪽 post 내용 : 스크롤 되는 부분 -->
        <div>

        </div>
    </main>
    <footer>

    </footer>
</body>
</html>